html{
    margin: 0;
}
span{
    display: block;
}
.container{
    margin: 100px auto;
    width: 80%;
    text-align: center;
}
.button{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}

.button:hover{
    cursor: pointer;
}