body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #4CAF50, #45a049);
}

.container {
    width: 50%;
    min-width: 350px;
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
}

h1 {
    color: #4CAF50;
}

p {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

#guessfield {
    height: 40px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    width: 60%;
    text-align: center;
    font-size: larger;
    margin-bottom: 20px;
}

#submit {
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 6px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #45a049;
}

.prevGuess {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    margin-bottom: 20px;
}

#button {
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 6px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button:hover {
    background-color: #45a049;
}

.resultDisplay {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.result {
    margin-top: 20px;
}
